* {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

body {
  display: grid;
  width: 100%;
  background-color: #f7f7f7;
}

/* Style The hole skeleton */

.skeleton {
  height: 700px;
  border: 1px solid white;
  border-radius: 0 0 0 75px;
  background-color: white;
  margin-bottom: 50px;
}

/* Style The header */

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 92px;
  align-items: baseline;
  padding: 30px 15px 0 15px;
}

.my-logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}

.Menu-Icon {
  width: 24px;
  height: 3px;
  background-color: #6070ff;
  margin: 4px 0;
}

.menu {
  background-color: white;
  border: none;
}

.nav-button {
  display: none;
}

.large {
  font-size: 150%;
}

/* Style The headline */

.headline {
  display: flex;
  padding: 55px 20px 0 15px;
  flex-direction: column;
  background-image: url('images/header-shapes mobile.png');
  background-repeat: no-repeat;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #172b4d;
  margin-bottom: 7px;
}

.whoAmI {
  color: #344563;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  padding-top: 0;
}

.contact-link {
  color: #7f8cff;
  margin-top: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  top: 10px;
  margin-top: 12px;
  margin-bottom: 0;
}

.icon {
  float: left;
  margin-right: 26px;
  color: #505f79;
}

/* Style the Works section */

.grid-container {
  background-color: #f7f7f7;
  display: grid;
  row-gap: 88px;
}

.pro-img {
  display: flex;
  justify-content: space-around;
}

.img {
  border-radius: 8px;
  margin: 20px;
}

.card {
  border-radius: 16px;
  margin: 24px;
  background-color: white;
}

.project-name {
  font-size: 32px;
  color: #172b4d;
  margin: 0 30px 0 0;
}

.details {
  font-size: 13px;
  color: #344563;
}

.info {
  display: flex;
  align-items: baseline;
  height: 50px;
  font-size: 13px;
}

.el {
  margin-right: 2.5%;
}

.descrip {
  font-size: 15px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.stack {
  font-size: 13px;
  color: #7a869a;
}

.use {
  border-radius: 8px;
  background-color: #ebebff;
  padding: 4px 12px;
  color: #6070ff;
  font-size: 12px;
}

.tech {
  display: flex;
}

.part2 {
  margin-left: 16px;
}

.see-project {
  height: 48px;
  width: 124px;
  border: 2px solid #396df2;
  font-size: 17px;
  margin: 50px 0 15px 0;
  border-radius: 8px;
  color: #396df2;
  align-items: center;
  text-align: center;
  background-color: white;
}

.see-project:hover {
  background-color: #91b0ff;
  color: white;
  border: none;
}

.see-project:active {
  background-color: #1d5cfa;
  color: white;
}

.see-project:disabled {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

/* style About-me section */
.about {
  background-color: white;
  border-radius: 0 115px 0 0;
  margin-top: 100px;
  padding-left: 24px;
  padding-bottom: 100px;
}

.me {
  font-size: 40px;
  font-weight: bolder;
  color: #172b4d;
  height: 101px;
  padding-top: 100px;
}

.here {
  margin: 10px 24px 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.see-resume {
  display: flex;
  height: 48px;
  width: 162px;
  border: 2px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  border-radius: 8px;
  color: #6070ff;
  background-color: white;
  padding: 10px 0 0 15px;
  margin-top: 10px;
}

.see-resume:hover {
  background-color: #91b0ff;
  color: white;
  border: none;
}

.see-resume:active {
  background-color: #1d5cfa;
  color: white;
}

.see-resume:disabled {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.one {
  font-size: 20px;
}

.lang {
  margin-top: 60px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-bottom: 20px;
  align-items: baseline;
}

.js-icon {
  display: flex;
  padding-left: 25px;
  padding-right: 150px;
  background-color: #f7f7f9;
  margin-right: 36px;
  height: 66.5px;
  border-radius: 8px;
  font-size: 15px;
}

.js-i {
  margin-top: 7px;
  margin-right: 7%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.html-icon {
  display: flex;
  padding-left: 25px;
  padding-right: 185px;
  background-color: #f7f7f9;
  margin-right: 36px;
  height: 66.5px;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 12px;
}

.html-i {
  margin-top: 7px;
  margin-right: 7%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.css-icon {
  display: flex;
  padding-left: 25px;
  padding-right: 195px;
  background-color: #f7f7f9;
  margin-right: 36px;
  height: 66.5px;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 12px;
}

.css-i {
  margin-top: 7px;
  margin-right: 7%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.Separator {
  width: 327px;
  height: 2px;
  padding-bottom: 30px;
}

.Frameworks {
  margin-top: 30px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  align-items: baseline;
  height: 60px;
}

.skills {
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  align-items: baseline;
  height: 60px;
}

/* Style the footer part */

.footer-part {
  background-color: #6070ff;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 60px 0 0 0;
}

.contact-me {
  font-size: 40px;
  margin: 104px 0 12px 0;
  text-align: center;
}

.call-me {
  display: flex;
  margin: 0 24px 35px 24px;
  text-align: center;
}

.nem {
  margin: 0 0 20px 5%;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  width: 85%;
  padding: 0 0 0 15px;
}

#msg {
  height: 150px;
  padding-top: 15px;
}

.hint {
  height: 48px;
}

.last-button {
  height: 48px;
  width: 124px;
  border: none;
  font-size: 17px;
  margin: 0 0 15px 5%;
  border-radius: 8px;
  color: #396df2;
  text-align: center;
  background-color: white;
}

.last-button:hover {
  background-color: #91b0ff;
  color: white;
  border: none;
}

.last-button:active {
  background-color: #1d5cfa;
  color: white;
}

.last-button:disabled {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.shape {
  margin: 0 0 8px 38%;
}

/* Media Queries for Desktop Screen */

@media only screen and (min-width: 1000px) {
  /* style Skeleton section */

  button {
    transition-duration: 1.5s;
    transition-delay: 0.25s;
  }

  .skeleton {
    margin-top: 0;
    height: 80%;
  }

  nav {
    display: flex;
    padding: 26px 10% 26px 150px;
  }

  .menu {
    display: none;
  }

  .my-logo {
    padding-right: 40%;
    transition-duration: 1s;
    transform: rotate(360deg);
  }

  .nav-button {
    display: block;
    font-size: 15px;
    border: none;
    background-color: white;
    color: #344563;
    padding-right: 0;
    text-decoration: none;
  }

  .headline {
    background-image: url('images/Header bg@2x.png');
    padding: 6% 20% 0 10%;
    flex-direction: column;
    background-repeat: no-repeat;
    display: flex;
    height: 1000px;
    background-size: contain;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    padding-top: 10%;
  }

  .whoAmI {
    font-size: 20px;
  }

  /* style woork cards section */

  .card {
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 500px;
    border-radius: 24px;
  }

  .img {
    margin: 24px;
    width: 544px;
    height: 448px;
    border-radius: 8px;
    order: 1;
    transition-duration: 1.25s;
    transition-delay: 0.25s;
  }

  .img:hover {
    transform: scale(1.1);
  }

  .pro-img-2 {
    order: 1;
  }

  .part2 {
    padding: 70px 23% 27px 22px;
  }

  /* style About me section */

  .about {
    display: flex;
  }

  .sec1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 2% 0 8%;
  }

  .sec2 {
    width: 60%;
    margin-right: 10%;
  }

  .Separator {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-right: 300px;
  }

  .js-icon {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 0;
    padding-right: 50px;
    width: 30%;
  }

  .html-icon {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 0;
    padding-right: 90px;
    width: 10%;
  }

  .css-icon {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 0;
    padding-right: 90px;
    width: 10%;
  }

  /* Style footer-part */

  .footer-part {
    display: flex;
    padding-bottom: 139px;
    padding-top: 100px;
  }

  .contact-form {
    width: 40%;
  }

  .call-me {
    display: block;
    text-align: center;
    margin: 0 20% 0 20%;
    transition-duration: 0.75s;
    transition-delay: 0.25s;
  }

  .call-me:hover {
    transform: translate(12px);
  }

  .nem {
    margin-left: 80%;
  }

  .shape {
    display: none;
  }

  .last-button {
    margin-left: 115%;
  }
}
